%html  
  %head  
    %title My Sinatra Website  
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")  
    %link(rel="stylesheet" href="css/styles.css")  
  %body  
    #wrapper  
      #header  
        %h1 My Sinatra Website  
        %h2 A Simple Site made with Sinatra and HAML!  
  
      #content  
        %h1 The Home Page  
        %p  
          Welcome to my website made with Sinatra and HAML.  
        %p  
          This is the home page and this is some text to fill out the home page!  
  
      #side_bar  
        %h1 Side Bar  
        %form{:action => "/profile", :method => "post"}
          %legend
            A Username please
          %p
            %label{:for => ""} Username?
            %input{:type => "textbox", :name => "profile", :id => "profile"}
          %p
            %label{:for => ""} Password?
            %input{:type => "textbox", :name => "passwd", :id => "passwd"}
          %p
            %input{:type => "submit", :value => "Submit!"}  

      #footer  
        %p  
          Welcome back #{session["user"]}  