!!! XML
!!! Strict
%html{html_attrs}
  %head
    %title Quotally - The remarkable new way to save and share quotes
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "all"}
  %body
    %h1 Quotally
